
.font_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* margin-bottom: 60px; */
}

.btn_icon{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    background-color: #FEA301;
}

.stories_section{
    background-image: url(../assets/bg.png), linear-gradient(top to bottom, #fea101fb, #fea10100);
    background-repeat: no-repeat;
    background-size: 100%;
}
.stories_info{
    justify-content: space-between;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.stories_left{
    max-width: 50%;
    border-radius: 10px;
    position: relative;
}

.stories_text{
    padding: 20px;
}

.sub_title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding: 38px 0px 38px 0px;
}

.stories_description{
    padding-bottom: 24px;

}

.stories_info img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.stories_right{
    width: 50%;
    height: 622px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.stories_box_info{
    font-size: 1rem;
    font-weight: 700;
    padding: 25px 18px 28px 18px;
}

.btn_left_absulate,
.btn_right_absulate{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;

}

.box_btn_0{
    position: absolute;
    left: 36px;
    bottom: 294px;
    background-color: #3CD8E8;
}

.box_btn_1{
    background-color: #95B226;
    position: absolute;
    left: 18px;
    bottom: 460px;
}
.box_btn_2{
    background-color: #5D58F0;
    position: absolute;
    left: 255px;
    bottom: 460px;
}
.box_btn_3{
    background-color: #95B226;
    position: absolute;
    left: 18px;
    bottom: 148px;
}
.box_btn_4{
    background-color: #95B226;
    position: absolute;
    left: 255px;
    bottom: 148px;
}

.btn_stories{
 text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 60px;
}

.box{
    border-radius: 10px;
    box-shadow: 0px 0px  2px black;
}







/* ----- responsive relative style -----  */
 @media screen and (max-width: 576px) {
    .nav_middle, .btn_primary{
        display: none;
    }

    .btn .icon{
        display: block;
        visibility: visible;
    }

    .navbar{
        border-bottom: 1px solid rgba(0, 0, 0, 0.61);
    }

    .hero_area{
        flex-direction: column-reverse;
    }

    .hero_text{
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        
    }

    .btn_secondary{
        display: block;
        visibility: visible;
    }

    .curriculum_info{
        flex-direction: column;
        gap: 20px;
    }

    .curriculum_box{
        margin-bottom: 0;
    }

    .btn_icon{
        display: none;
    }

    .stories_left{
        display: none;
    }

    .stories_1 button .box_btn_3{
        position: static;
    }
    .stories_1 button .box_btn_2{
        position: static;
    }
    .stories_1 button .box_btn_4{
        position: static;
    }

    .container{
        width: 100%;
    }

    .stories_right{
        width: 100%;
        text-align: center;
    }

}
