
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Quicksand", serif;
    max-width: 1920px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* ------- shared styles -------- */
.display_flex{
    display: flex;
}

.section_description{
    font-size: 1rem;
    font-weight: 500;

}

/* ------ navbar related styles ------ */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
}

.nav_left{
    align-items: center;
    gap: 10px;
}

.school{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
}

.list_item{
    list-style: none;
    padding: 0px 16px;
}

.list_item :first-child{
    margin-left: 0px;
}

.list_item a{
    text-decoration: none;
    font-size: 1rem;
}

.home{
   color: #FEA301;
}

.about{
    color: #01ACFD;
}

.facilities{
    color: #05D4DF;
}

.admission{
    color: #5D58EF;
}

.btn_primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #FEA301;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}

.btn .icon{
    display: none;
}

/* ------ hero section --------- */
.hero_area{
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero_text{
    width: 70%;
}

.hero_text .orange{
    color: #FEA301;
}

.hero_text .blue{
    color: #01ACFD;
}

.hero_title{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.75rem;
}

.hero_img{
    /* width: 32%; */
}

.hero_img img{
    width: 100%;
}

.hero_info{
    font-size: 1.25rem;
    margin: 24px 0px;
}

.btn_secondary{
    background-color: rgba(17, 17, 17, 1);
}

/* ------ start curriculum section ------- */
.curriculum_section{
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.section_title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #000000;
    padding: 60px 0px 80px 0px;
    text-align: center;
}

.curriculum_info{
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    
}

.box_1{
    background-image: linear-gradient(to bottom, #DEF5FF, #ffffff);
}

.box_2{
    background-image: linear-gradient(to bottom, #F2E8FF, #ffffff);
}

.box_3{
    background-image: linear-gradient(to bottom, #DCFFED, #ffffff);
}

.curriculum_box{
    padding: 42px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #afaa9e;
    margin-bottom: 80px;

.box_img{
    width: 140px;
    height: 140px;
    margin-bottom: 32px;
}
.sub_title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.text_box{
    text-align: justify;
    margin-bottom: 32px;
}

.btn_curriculum{
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
    background-color: #ffffff;
}
.btn_1{
    color: #64C8FF;
}

.btn_2{
    color: #F0AA00;
}

.btn_3{
    color: #8700FF;
}







/* ------ responsive related styles ----- */
@media screen and (max-width: 576px) {
    .nav_middle, .btn_primary{
        display: none;
    }
    .btn .icon{
        display: block;
        visibility: visible;
    }
    .navbar{
        border-bottom: 1px solid rgba(0, 0, 0, 0.61);
    }
    .hero_area{
        flex-direction: column-reverse;
    }
    .btn_secondary{
        display: block;
        visibility: visible;
    }
    .curriculum_info{
        flex-direction: column;
    }
  }

